.container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 1350px;
    height: 800px;
    margin: 0 auto;
    gap: 2px;
}

.bar {
    background-color: turquoise;
    display: inline-block;
    /* margin: 0 1px; */
    flex: 1 1 0;
}

.btn{
    margin: 2rem auto;
    display: inherit;
}

.contdos{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 1350px;
    margin: 0 auto;
    gap: 2px;
}

.bardos {
    background-color: turquoise;
    display: inline-block;
    /* margin: 0 1px; */
    flex: 1 1 0;
    text-align: center;
}