.item {
    background: #00669d;
    overflow: hidden;
    flex: 1 1 0;
}
.moved {
    background: #009d1a;
}

.static{
    background: #00669d;
}

.active{
    background: rgb(0, 251, 255);
}

.logo {
    display: flex;
    font-weight: 600;
}