body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
    display: flex;
    align-items: center;
    background-color: #ede9fe;
}
header > * {
    padding: 10px 1em;
}
section {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
    padding: 0 ;
}
header h4,
header h1 {
    margin: 0;
}
header h4 {margin-bottom: .5em;}
section,
section > div:not(:first-child) {
    border-left: 1px solid rgb(167, 167, 167);
}
section > div {
    padding: .5rem;
}

.btn {
    font-weight: 600;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.5rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #eff6ff;
    width: auto;
    outline: none;
    border: none;
    background-color: #3b82f6;
    cursor: pointer;
    margin-right: .5em;
}
.btn.btn-run{
    margin: 2rem auto 0;
    display: inherit;
    background: #1f2937;
    height: 2.5rem;
    color: #f3f4f6 ;
    
}
.btn.btn-run:hover{
    background: #374151;
}
.btn:hover {
    background-color: #1e40af;
}

.sortBtn.active {
    background-color: #1d4ed8;
    color: #dbeafe;
}
.sortBtn.active.disabled {
    background-color: #bfdbfe;
    color: #2563eb;
}
.disabled {
    background-color: #bfdbfe;
    color: #2563eb;
    cursor: not-allowed;
}
.btn.btn-run.disabled{
    background-color: #d1d5db;
    color: #111827;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 1350px;
    height: 80vh;
    margin: 0 auto;
    gap: 2px;
}

.bar {
    background-color: turquoise;
    display: inline-block;
    /* margin: 0 1px; */
    flex: 1 1 0;
    min-width: 2px;
}
.sorted{
    background-color: rgb(216, 60, 206)!important;
}



.contdos{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 1350px;
    margin: 0 auto;
    gap: 2px;
}

.bardos {
    background-color: turquoise;
    display: inline-block;
    flex: 1 1 0;
    text-align: center;
}
